examples/n8n/workflow_basic_monitoring.json
{
  "name": "FYTA Plant Monitoring",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 5
            }
          ]
        }
      },
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "url": "http://localhost:5000/api/events",
        "options": {}
      },
      "name": "Get FYTA Events",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [450, 300]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.summary.critical }}",
              "operation": "larger",
              "value2": 0
            }
          ]
        }
      },
      "name": "Has Critical Events?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "message": "🚨 Plant Alert: {{ $json.summary.critical }} critical issues\n\n{{ $json.events.map(e => `${e.plant_name}: ${e.message}`).join('\\n') }}",
        "additionalFields": {}
      },
      "name": "Send Notification",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [850, 200],
      "credentials": {
        "telegramApi": {
          "id": "1",
          "name": "Telegram account"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get FYTA Events",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get FYTA Events": {
      "main": [
        [
          {
            "node": "Has Critical Events?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Critical Events?": {
      "main": [
        [
          {
            "node": "Send Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
